
.textHolder {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card {
  position: relative;
  cursor: pointer;
  width: 138px;
  height: 270px;
  background-color: #181818;
  margin-left: 10px;
  border-radius: 5px;
  
}

.imageContainer {
  text-align: center;
  padding-top: 20px;
}

.coverImages {
  width: 95px;
  height: 95px;
  box-shadow: 3px 3px 7px black;
}

.card:hover {
  background-color: #423f3f;
}

.playlistName {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}

.playlistDescription {
  margin-left: 15px;
  margin-right: 15px;
  color: grey;
  font-size: 12px;
  
}

.divPlayBtn {
  position: absolute;
  background-color: #423f3f;
  width: 35px;
  height: 35px;
  z-index: 2;
}
.svgPlayBtn {
  width: 50px;
  height: 50px;
  color: #1ed760;
}

.svgPlayBtn:hover {
  color: #1ed760;
}

@media (max-width: 1400px) {
  .card {
    cursor: pointer;
    width: 100px;
    height: 200px;
    background-color: #181818;
    margin-left: 23px;
    border-radius: 5px;
  }
  .textHolder {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .coverImages {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    box-shadow: 3px 3px 7px black;
  }
}