.divHome {
  display: flex;
  justify-content: top;
  align-items: left;
  flex-direction: column;
  position: relative;
  top: 64px;
  left: 240px;
  width: 171.65vh;
  height: 120vh;
  background-color: #2e2c2c;
}

.featuredPlaylist {
  position: relative;
  top: 20px;
  width: 171.65vh;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  height: 273px;
}

.dinnerPlaylists {
  position: relative;
  top: 40px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  width: 171.65vh;
  height: 273px;
}

.featuredPlaylistTitle {
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  margin-left: 25px;
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.featuredPlaylistTitle:hover {
  text-decoration: underline;
}

.dinnerPlaylistTitle:hover {
  text-decoration: underline;
}

.dinnerPlaylistTitle {
  cursor: pointer;
  position: relative;
  margin-top: 80px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.hr {
  position: relative;
  margin-top: 140px;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}

/* .focusParag {
  position: relative;
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
} */

/* .focusList {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  position: relative;
  left: 240px;
  top: 64px;
  width: 171.65vh;

  height: 120vh;
  background-color: #2e2c2c;
} */

/* .spotifyPlaylists {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  position: relative;
  left: 240px;
  top: 340px;
  width: 171.65vh;
  height: 273px;
  background-color: #2e2c2c;
} */

/* 
.testDiv {
  margin-top: 70px;
  width: 182px;
  height: 273px;
  background-color: red;
  margin-left: 40px;
  border-radius: 5px;
} */
