.containerMain {
    display: flex;
    flex-direction: row;

}

.divHome {
  flex-grow: 1;
  display: flex;
  /* justify-content: top; */
  /* align-items: left; */
  flex-direction: column;
  /* margin-left: 240px; */
  /* width: 87.4%; */
  /* height: 120vh; */
  background-color: #2e2c2c;
  overflow-x: scroll;
}

.featuredPlaylist {
  position: relative;
  top: 20px;
  /* width: 171.65vh; */
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  height: 273px;
}

.dinnerPlaylists {
  position: relative;
  top: 40px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  /* width: 171.65vh; */
  height: 273px;
}

.featuredPlaylistTitle {
  cursor: pointer;
  position: relative;
  margin-top: 30px;
  margin-left: 25px;
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.featuredPlaylistTitle:hover {
  text-decoration: underline;
}

.dinnerPlaylistTitle:hover {
  text-decoration: underline;
}

.dinnerPlaylistTitle {
  cursor: pointer;
  position: relative;
  margin-top: 80px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.hr {
  position: relative;
  margin-top: 140px;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
}
