.mainDiv {
  display: flex;
  justify-content: top;
  align-items: left;
  flex-direction: column;
  position: relative;
  left: 240px;
  width: 171.65vh;
  /* height: 120vh; */
  background-color: #2e2c2c;
  overflow: hidden;
}

.textDiv {
  position: relative;
  /* width: 171.65vh; */
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
  height: 340px;
  background-color: grey;
}

.coverImage {
  position: relative;
  top: 78px;
  left: 35px;
  width: 232px;
  height: 232px;
  box-shadow: 7px 7px 20px black;
}

.songTitleDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  left: 60px;
  height: 316px;
  width: 1074px;
  background-color: inherit;
}

.firstTitle {
  position: relative;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  top: 110px;
}

.secondTitle {
  position: relative;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 96px;
  top: 80px;
}

.playlistDescription {
  position: relative;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  top: 63px;
}

.spotifyIcon {
  width: 25px;
  height: 25px;
  color: #1ed760;
}

.spotifyIcon:hover {
  color: #1ed760;
}

.lastTitleRow {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  top: 55px;
}

.spotifyTitle {
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: relative;
  left: 5px;
}
.dotParag {
  font-weight: bold;
  color: white;
  font-size: 20px;
  position: relative;
  bottom: 10px;
  left: 8px;
}

.followersTitle {
  position: relative;
  left: 12px;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.dotParagSecond {
  font-weight: bold;
  color: white;
  font-size: 20px;
  position: relative;
  bottom: 10px;
  left: 15px;
}

.numberOfSongsTitle {
  position: relative;
  left: 19px;
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.behindIconDiv {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 15px;
}

.borderDiv {
  display: flex;
  flex-direction: row;
  height: 104px;
  align-items: left;
  justify-content: left;
  background-color: inherit;
}

.playBtn {
  width: 56px;
  height: 56px;
  color: #1ed760;
  position: relative;
  top: 2px;
}

.likeIcon {
  width: 32px;
  height: 32px;
  color: grey;
  position: relative;
  left: 55px;
  top: 32px;
  cursor: pointer;
}

.threeDots {
  width: 32px;
  height: 32px;
  color: grey;
  position: relative;
  top: 32px;
  left: 90px;
  cursor: pointer;
}

.backgroundDiv {
  background-color: black;
  width: 56px;
  height: 56px;
  border-radius: 115px;
  position: relative;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.trackHeader {
  display: flex;
  height: 20px;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  background-color: inherit;
}

.nameHeader {
  position: relative;
  left: 125px;
  font-size: 13px;
  color: #c0bbbb;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.albumHeader {
  position: relative;
  left: 680px;
  font-size: 13px;
  color: #c0bbbb;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.dateHeader {
  position: relative;
  left: 1125px;
  font-size: 13px;
  color: #c0bbbb;
  font-weight: bold;

  font-family: Arial, Helvetica, sans-serif;
}

.timeHeader {
  position: relative;
  left: 1435px;
  font-size: 13px;
  color: #c0bbbb;
}

.borderLine {
  width: 1550px;
  position: relative;
  color: #c0bbbb;
  left: 45px;
}

.loadingDiv {
  background-color: red;
  width: 1000px;
  height: 1000px;
}
