.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 56px;
  background-color: inherit;
  border-radius: 5px;
}

.mainDiv:hover {
  background-color: #423f3f;
}
.albumCover {
  width: 40px;
  height: 40px;
  
}

.textDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: inherit;
  width: 381px;
}

.albumDiv {
  width: 150px;
}
.songName {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.artist {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
}

.albumName {
  color: rgb(207, 203, 203);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
}

.addedAt {
  color: rgb(207, 203, 203);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
}
.duration {
  color: rgb(207, 203, 203);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
}

.orderNumber {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);

}
