.mainDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: inherit;
  border-radius: 5px;
  padding: 10px;
}

.mainDiv:hover {
  background-color: #423f3f;
}
.albumCover {
  width: 40px;
  height: 40px;
  
}

.textDiv {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  gap: 5px;
}

.albumDiv {
}
.songName {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.artist {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
  margin-bottom: 0;

}

.albumName {
  color: rgb(207, 203, 203);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
}

.addedAt {
  color: rgb(207, 203, 203);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
}
.duration {
  color: rgb(207, 203, 203);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);
}

.orderNumber {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 203, 203);

}
